row {
	height: 1em;
}

.header h1 {
	opacity: 1.0;
	background-color: green;
	color: white;
	font-family: tahoma;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	border: 4px solid brown;
	margin-bottom: 100px;
	padding: 30px;
	position: fixed;
	height: auto;
	width: 100%;
	z-index: 0;
}

li {
	font-size: 18px;
}

h3 {
	color: white;
	margin: 0 auto;
	padding: 5px;
	font-size: 24px;
	text-decoration: underline;
	font-style: italic;
	text-indent: 400px;
}

.container .table {
	margin-top: 200px;
	background-image: url('http://www.lionsports.net/images/2017/1/23/b_SLU_PatKenellyDiamondAtAlumniField_1_2017.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	width: auto;
	margin: 10px;
}

.container .table h4 {
	color: white;
	margin: 0 auto;
	padding: 5px;
	font-size: 24px;
	text-decoration: underline;
	font-style: italic;
	float: left;
}

table {
	text-align: left;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 20px;
	width: 100%;
	border: 3px dotted black;
	background-color: white;
	font-family: calibri;
}

.body {
	background-color: #d3d3d3;
	height: 1000px;
	overflow-y: scroll;
	width: auto;
	margin: 10px;
}

p {
	background-color: white;
	font-family: calibri;
	font-size: 16px;
	display: inline-block;
}
p1 {
	background-color: white;
	font-family: calibri, "sans serif";
	font-size: 16px;
	display: inline-block;
	float: left;
	width: auto;
	margin: 0px 320px 0px 0px;
}
p2 {
	background-color: white;
	font-family: calibri, "sans serif";
	font-size: 16px;
	display: inline-block;
	text-indent: auto;
	width: 60%;
	margin: 0px 0px 0px 15px;
}
.{
	overflow: scroll;
}