.mission { height: auto; width: 100%; margin-top: 100px; font-weight: 700; float:center; font-size: 18px; }
#charityRaised { height: auto; width: 100%; float: left; }
.feature {height: auto; width: auto; float: left; font-size: 24px; text-align: left; font-size: 18px; line-height: 2.5em; }
.section-youtube {width: 100%; border: 5px solid white; height: 511px; overflow-y: scroll; margin-top: -50px; }

body {
	font-family: "Lato";
}

.navbar-default {
	width: 100%;
	font-family: "Raleway";
	background-color: #13114D;
	border: 0;
	color: white;
	margin: 0 auto;
	position: fixed;
	z-index: 1;
}

.navbar-default .navbar-brand {
	color: white;
	padding: none;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-family: "Raleway";
	font-size: 14px;
}

.footer {
	width: 100%;
	font-family: "Raleway";
	background-color: #13114D;
	border: 0;
	color: white;
	margin: 0 auto;
}

.background {
	background: url(https://cdn.shopify.com/s/files/1/1766/8115/products/baseball-american-flag-wallpaper.jpg?v=1506262291);
	position: fixed;
	background-size: cover;
	background-repeat; no-repeat;
	background-position: center;
	min-width: 1024px;
	min-height: 100%;
	padding-top: 30px;
	width: 100%;
	height: auto;
	opacity: 0.5;
	z-index: -2;
}

p {
	font-size: 24px;
	text-align: center;
	margin: 10px;
	font-family: "Raleway";
}

a { color: white; font-size: 20px; line-height: 1em; font-weight: bold; }

h2 { text-align: center; font-family: "Raleway"; }
h4 { border: 10px solid red; }

.raised { width: auto; height: 60%; border: 5px dashed #820E0E; float: left; padding: 40px 20px; text-align: center; margin: 10% auto; }
#amountRaised { font-size: 36px; font-weight: 700; text-align: center; width: 100%; }

._2ph { width: 33.333333333%; }

.col-med-6 { margin: 6% 1.5% auto; padding: 2%; float: left; display: block; position: static; position: center; width: auto; }
.col-lg-4 { margin: 6% 1.5% auto; float: left; display: block; position: static; width: auto; }
.timeline-Header timeline-InformationCircle-widgetParent { height: 50px; }
#twitter-widget-0 { height: 200%; margin-top: -200px; background-size: cover; }

.landing-row.social-row { padding:162px 0 54px; background:url(/images/setup/2017/bg_social_row.jpg) no-repeat 50% 0; color:#fff; background-size:cover; background-attachment:fixed }
.landing-row.social-row:before { content:''; display:block; width:1024px; height:186px; margin:0 auto; text-indent:-9999px; background:url(/images/setup/2017/master_sprite.png) no-repeat 0 -204px }

.section-social-twitter { width: 353px; height: 511px; overflow-y: scroll; border: 5px solid white; position: static; margin-top: -50px; }
.section-social { width: 353px; height: 511px; overflow-y: scroll; border: 5px solid white; position: static; margin-top: -50px; }
.section-social > .section-header { position:static; margin:0; text-align:center }
.section-social > .section-header .text { position:absolute; left:-9999px; width:1px; height:1px; overflow:hidden }
.section-social > .section-header .icon { display:block; width:56px; height:56px; margin:0 auto; font-size:36px; line-height:56px; color:#fff; background:#042969; border:10px solid #fff; border-radius:100% }
.section-social > .section-header + div { margin-top:-5px; background:#fff }

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}